<style>
  #mapid {
    width:800px; height:600px;
  }
</style>
<footer class="section has-background-dark has-text-white">
  <div class="container">

    <div class="columns">
      <div class="column">
        <a class="navbar-item" href="{{ config.url }}">
          {% if config.logoUrl.length > 0 %}
            {#
              Si logo desde fichero: <img src="{{ config.logoUrl }}" alt="{{ config.title }}"/>
              Si logo insertado como SVG: {% logoSVG %}
            #}
            <img src="{{ rootPath }}{{ config.logoUrl }}" alt="{{ config.title }}"/>
          {% else %}
            {{ config.title }}
          {% endif %}
        </a>
      </div>
      <div class="column">
        <div class="level-item cta-bar">
          <h3>Need work done?</h3>
          <div class="control">
            <a class="button is-primary slant js-modal-trigger" data-target="modal-js-example" href="#" target="_self"><h4>Open a Work Request  > </h4></a>
          </div>

        </div>
      </div>

    </div><!-- END columns -->


    <div class="columns">
      <div class="column is-one-quarter">
        <p>2051 Alpine Way</p>
        <p>Hayward, CA 94545</p>
        <h4 class="foot-tag">Small jobs, big jobs,
          all makes and models...
          <span class="hilite"> <i>Yes, even that one</i></span>
        </h4>
        <p class="footer-social-icons">
          {% if config.social.facebook.length > 0 %}
            <span><a href="{{ config.social.facebook }}" rel="nofollow noreferrer" target="_blank" aria-label="facebook profile link"><span class="icon">{% facebookLightIcon %}</span></a></span>
          {% endif %}
          {% if config.social.instagram.length > 0 %}
            <span><a href="{{ config.social.instagram }}" rel="nofollow noreferrer" target="_blank" aria-label="instagram profile link"><span class="icon">{% instagramLightIcon %}</span></a></span>
          {% endif %}
        </p>
    
      </div>
      <div class="column is-one-quarter">
        <div class="columns is-mobile">
          <div class="column">
            <p>Monday</p>
            <p>Tuesday</p>
            <p>Wednesday</p>
            <p>Thursday</p>
            <p>Friday</p>
            <p>Saturday</p>
            <p>Sunday</p>
          </div>
          <div class="column">
            <p>8:30am - 6:00pm</p>
            <p>8:30am - 6:00pm</p>
            <p>8:30am - 6:00pm</p>
            <p>8:30am - 6:00pm</p>
            <p>8:30am - 6:00pm</p>
            <p>By appointment</p>
            <p>Closed</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="gmap_canvas">
<iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Driven+Garage&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no">
</iframe>
        </div>
      </div>
    </div><!-- END columns -->

  </div><!-- END container -->
</footer>


<div id="modal-js-example" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">

    <div class="box">
      <div class="toggle-content is-visible">
      <h2>Need some work done on your ride?</h2>
      <!-- <h3>Just give us your info, tell us what needs fixed or work you need done</h3> -->
      <p>Give us a bit to respond with a detailed estimate. We need time to do a through review to research and write your estimate.<br>

      <div class="columns">
        <div class="column">
          <figure>
            <img src="{{ rootPath }}_images/FPO-About-CTA-min-1.png" alt="7x Chevelle engine work in the shop">
          </figure>
        </div>
        <div class="column is-two-thirds">
          <div class="process-item">
            <h5><span>1</span> Give us your info</h5>
              <p>Describe what work you'd like done. You'll receive a text and email once we've reviewed your request.
                <!-- Give us your contact info and describe what work you'd like done. Your work request will be logged into our system to await review.-->
              </p>
          </div>
        </div>
      </div>





      <div class="columns">
          <div class="column">
              <figure>
                  <img src="{{ rootPath }}_images/FPO-wr-invoice.jpg" alt="7x Chevelle engine work in the shop">
              </figure>
          </div>
          <div class="column is-two-thirds">
            <div class="process-item">
              <h5><span>2</span> Get an Estimate</h5>
              <p>
                We'll review the work needed, source parts, and write-up a detailed estimate just for you.
                <!-- We'll review your info, identify services to be completed, source parts, and write-up a detailed estimate just for you. -->
                <!-- Please be patient as each estimate is different and we need time to make sure its accurate. -->
              </p>
            </div>
          </div>
      </div>


      <div class="columns">
          <div class="column">
              <figure>
                  <img src="{{ rootPath }}_images/7x_Chevelle_engine_shop.jpg" alt="7x Chevelle engine work in the shop">
              </figure>
          </div>
          <div class="column is-two-thirds">
            <div class="process-item">
              <h5><span>3</span> Approve and Schedule Drop-Off</h5>
              <p>
                You'll receive your individualized estimate via text or email. Once you approve the estimate, we'll book your car in the shop and our team will get to work.
                <!-- 
                You'll receive your individualized estimate via text or email. Once you approve the estimate, we'll order parts and book an appoitment to drop off your car and our team will get to work.
                -->
              </p>
            </div>
          </div>
      </div>


      <div class="columns">
          <div class="column">
              <figure>
                  <img src="{{ rootPath }}_images/FPO-Computer_customer_service.png" alt="7x Chevelle engine work in the shop">
              </figure>
          </div>
          <div class="column is-two-thirds">
            <div class="process-item">
              <h5><span>4</span> Time is Money</h5>
              <p>
                Only pay for the time our team is working on your car. We use advanced methods for accurate time tracking to ensure you won't pay extra.
                <!-- Only pay for time our team is working on your car. We use strict time tracking to ensure you won't pay extra. -->
                </p>
            </div>
          </div>
      </div>


      <div class="columns">
          <div class="column">
              <figure>
                  <img src="{{ rootPath }}_images/70_Mustang01_green_lights.jpg" alt="7x Chevelle engine work in the shop">
              </figure>
          </div>
          <div class="column is-two-thirds">
            <div class="process-item">
              <h5><span>5</span> Hit the Road</h5>
              <p>Our certified team will repair your car and get you back on the road. We'll do the work and make sure it's done right.</p>
            </div>
          </div>
      </div>

    </div>



    <div id="modal-form" class="toggle-content">
      <strong>To ensure a prompt response, please enter your valid phone number and email</strong></p>
      <p style="font-size:0.8rem;">Please be patient: It can take <span class="hilite"><i>a day or 2</i></span> for smaller jobs and <span class="hilite"><i>a few days</i></span> for more complex requests.</p>

      <iframe id="shopmonkey-form" src="https://app.shopmonkey.io/quote-request/028a78c54fda5e7ae2570db0fb187cd5?noExternalScripts=1" width="100%" height="700" frameborder="0"></iframe>

    </div>

  

    <div class="level-item">
      <div class="control">
        <!-- <a class="button is-primary slant toggle-btn" href="#modal-form" target="_self"><h4>Let's Go  &gt; </h4></a> -->
        <div class="button is-primary slant toggle-btn"><h4>Let's Go ></h4></div>
      </div>
    </div>
<!-- Let's Go  &gt; -->






  </div><!-- END box -->


  </div><!-- END modal-content -->

  <button class="modal-close is-large" aria-label="close"></button>
</div>


<style>
  .toggle-content {
	display: none;
}

.toggle-content.is-visible {
	display: block;
}
</style>





<script>
  document.querySelector('.toggle-btn').addEventListener('click',function(){
//TOGGLE button label
    const txt2 = document.querySelector('.toggle-btn h4').textContent;
    document.querySelector('.toggle-btn h4').textContent = txt2 == "Let's Go >" ? "< Go Back" : "Let's Go >";

    [].forEach.call(document.querySelectorAll('.toggle-content'), function($el2){
/*
      if($el2.classList == 'toggle-content is-visible') {
        $el2.classList.remove('is-visible');
      } else {
        $el2.classList.add('is-visible');
      }
*/

      const togclass = $el2.classList;
      togclass == 'toggle-content is-visible' ? togclass.remove('is-visible') : togclass.add('is-visible');


    });
  });
</script>










{% if config.showCookiesAdvice %}
  {% if config.googleAnalyticsID.length > 0 %}
    <script> var analyticsID = "{{ config.googleAnalyticsID }}"</script>
  {% endif %}
  {% include "cookies-advice.njk" %}
{% endif %}

<!-- Scripts -->
{% set js %}
  {% include "scripts.js" %}
  {% if config.showCookiesAdvice %}
    {% include "cookies-advice-script.js" %}
  {% endif %}
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>



<!-- Swiffy Slider -->
<script src="{{ rootPath }}_js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>




<script>

  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.has-dropdown'), 0);

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });

  });




  document.addEventListener('DOMContentLoaded', () => {
  // Functions to open and close a modal
  function openModal($el) {
    $el.classList.add('is-active');
  }

  function closeModal($el) {
    $el.classList.remove('is-active');
  }

  function closeAllModals() {
    (document.querySelectorAll('.modal') || []).forEach(($modal) => {
      closeModal($modal);
    });
  }

  // Add a click event on buttons to open a specific modal
  (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
    const modal = $trigger.dataset.target;
    const $target = document.getElementById(modal);

    $trigger.addEventListener('click', () => {
      openModal($target);
    });
  });

  // Add a click event on various child elements to close the parent modal
  (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
    const $target = $close.closest('.modal');

    $close.addEventListener('click', () => {
      closeModal($target);
    });
  });

  // Add a keyboard event to close all modals
  document.addEventListener('keydown', (event) => {
    const e = event || window.event;

    if (e.keyCode === 27) { // Escape key
      closeAllModals();
    }
  });
});


</script>

<!-- Accordion JS code -->
<script>
function initAcc(elem, option){
  document.addEventListener('click', function (e) {
      if (!e.target.matches(elem+' .a-btn')) return;
      else{
          if(!e.target.parentElement.classList.contains('active')){
              if(option==true){
                  var elementList = document.querySelectorAll(elem+' .a-container');
                  Array.prototype.forEach.call(elementList, function (e) {
                      e.classList.remove('active');
                  });
              }            
              e.target.parentElement.classList.add('active');
          }else{
              e.target.parentElement.classList.remove('active');
          }
      }
  });
}

initAcc('.accordion.v1', true);
initAcc('.accordion.v2', false);

</script>